
.navbar{
    background-color: white;
}

.wrapper_80{
    width: 80%;
    margin: 0 auto;
}

.immagine img{
    width: 180px;
}

.my_header{
    margin-top: 20px;
}

.navbar-default
.navbar-nav>li>a{
    color:#031C4E;
}

#btn_header{
    color: #004AFF;
    border: 1px solid #004AFF;
    border-radius: 5px;
}

.jumbotron{
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
}

.jumbotron h1{
    font-weight: bold;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.jumbotron p{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.riquadro_bianco{
    height: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 5px 15px;
}

.jumbotron h2{
    color: #031C4E;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    padding: 15px 10px;
}

.jumbotron span{
    color: #004AFF;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.jumbotron input{
    text-align: center;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.riquadro_bianco button{
    margin-top: 2%;
    border-radius: 5px;
    color: white;
    background-color: #579AFF;
    width: 100%;
    height: 30px;
    padding: 3px 0px;
    border: none;
}

.riquadro_bianco a{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

#btn_jumbotron{
    margin-top: 2%;
    border-radius: 5px;
    color: lightgray;
    background-color: white;
    width: 100%;
    height: 30px;
    padding: 3px 0px;
    border: 1px solid whitesmoke;
    position: relative;
}

#google_jumbotron{
    color: gray;
}

#logo_btn_google{
    position: absolute;
    top: 7px;
    left: 10px;
    size: 15px;
}

#terms_service{
    color: gray;
    font-size: 15px;
}

#terms_link{
    color: blue;
    font-size: 15px;
    font-weight: 400;
}

.loghi{
    background-color: #F3F5F9;
}

.loghi h2{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 20px;
}

.loghi img{
    margin-left: 10px;
}

.loghi i{
    margin-left: 10px;
}

.logo_carousel{
    margin: 0 auto;
}

.deploy{
    margin-top: 20px;
}

.deploy h2{
    color: #031C4E;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
}

#descrizione_deploy{
    color: gray;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.link_deploy{
    margin-top: 10px;
    padding: 6px;
    color: gray;
}

.deploy a{
    color: gray;
    border-left: 2px solid grey;
}

.sez_link{
    margin-top: 25px;
    padding: 15px;
}

.grid_deploy h5{
    color: #031C4E;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
}

.grid_deploy p{
    color: gray;
    font-family: 'Roboto', sans-serif;
}

.grid_deploy{
    text-align: center;
    margin-left: 10px;
    padding: 30px;
}

.designed{
    background-color: #F3F5F9;
}

.designed img{
    width: 600px;
    margin-top: 20px;
}

.designed i{
    color: #031C4E;
    margin-left: 25px;
    font-weight: 800;
    font-size: 50px;
}

.designed h2{
    color: #031C4E;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
}

.designed .i_right{
    color: rgba(3, 28, 78, 0.7);
    margin-right: 25px;
}

.designed p{
    color: gray;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
}

.designed .caption{
    color:#031C4E
}

.features a{
    float: left;
    color: blue;
}
.features{
    vertical-align: middle;
    padding-top: 10px;
}

.features img{
    text-align: left;
}

.features h2{
    color: #031C4E;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
}

.features h4{
    color: #031C4E;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    text-align: left;
}

.features p{
    color: gray;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.blocco_features{
    margin-top: 20px;
    text-align: left;
}

.service{
    background: linear-gradient(90deg, #0045C3, #001E99);
    margin-top: 60px;
}

.service h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
}

.grid_service{
    display: inline;
}

.grid_service span{
    float: left;
    width: 20%;
    text-transform: uppercase;
    color: white;
    border-bottom: 1px solid white;
}

.grid_service p{
    text-align: left;
    float: left;
    width: 60%;
    color: white;
    border-bottom: 1px solid white;
}

.grid_service a{
    float: left;
    width: 20%;
    color: lightskyblue;
    border-bottom: 1px solid white;
}

.development{
    background-color: #F3F5F9;
}

.development h2{
    color: #031C4E;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    margin-top: 30px;
}

.riquadro_bianco_2{
    background-color: white;
    border-radius: 6px;
    padding: 5px 15px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.riquadro_bianco_2 img{
    width: 250px;
    margin-top: 40px;
}

.riquadro_bianco_2 p{
    color: gray;
    font-family: 'Roboto', sans-serif;
    margin-top: 18px;
    font-size: 16px;
}

.riquadro_bianco_2 a{
    color: blue;
}

#rocker_caption{
    color: #031C4E;
    font-family: 'Roboto', sans-serif;
}

#rocker_caption_small{
    color: #031C4E;
    font-family: 'Roboto', sans-serif;
    margin-top: -14px;
    font-size: 12px;
}

.pre_footer{
    background-color: #0032AC;
}

.pre_footer h2{
    margin-top: 60px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.pre_footer button{
    background-color: white;
    padding: 10px 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 45px;
}

footer{
    background-color: #031C4E;
    color: lightslategray;
}

footer img{
    width: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}

footer i{
    margin-left: 8px;
}

footer a{
    display: block;
    color: lightslategray;
    font-family: 'Roboto', sans-serif;
}

footer h4{
    color: white;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width:1000px){
    .grid_deploy{
        margin-left: 80px;
    }
}

@media (max-width: 777px){
    .loghi img{
        width: 150px;  
        margin-left: 10px;
    }
    .designed i{
        display: none;
    }
}