/* [class*="container"]{
    min-height: 100px;
    background-color: white;
    border: 2px solid black;
} */

.wrapper_60{
    width: 60%;
    margin: 0 auto;
}

.immagine img{
    width: 180px;
}

.my_header{
    margin-top: 20px;
}

.navbar-default
.navbar-nav>li>a{
    color:#031C4E;
}

#btn_header{
    color: #004AFF;
    border: 1px solid #004AFF;
    border-radius: 5px;
}

.jumbotron{
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
}

.jumbotron h1{
    font-weight: bold;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.jumbotron p{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.riquadro_bianco{
    height: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 5px 15px;
}

.jumbotron h2{
    color: #031C4E;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    padding: 15px 10px;
}

.jumbotron span{
    color: #004AFF;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.jumbotron input{
    text-align: center;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.riquadro_bianco button{
    margin-top: 2%;
    border-radius: 5px;
    color: white;
    background-color: #579AFF;
    width: 100%;
    height: 30px;
    padding: 3px 0px;
    border: none;
}

.riquadro_bianco a{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

#btn_jumbotron{
    margin-top: 2%;
    border-radius: 5px;
    color: lightgray;
    background-color: white;
    width: 100%;
    height: 30px;
    padding: 3px 0px;
    border: 1px solid whitesmoke;
    position: relative;
}

#google_jumbotron{
    color: gray;
}

#logo_btn_google{
    position: absolute;
    top: 7px;
    left: 10px;
    size: 15px;
}

#terms_service{
    color: gray;
    font-size: 15px;
}

#terms_link{
    color: blue;
    font-size: 15px;
    font-weight: 400;
}

@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}